
/**
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

.no-sidebars #content img {
  width: expression(this.width > 700 ? 700: true);
  height: auto;
}

.sidebar-first #content {
  width: expression(this.width > 530 ? 530: true);
}

.sidebar-first #content img {
  width: expression(this.width > 530 ? 530: true);
  height: auto;
}

.sidebar-first #sidebar-right {
  padding-left: 5px;
}

.field-name-field-tags div.field-items {
  height: 1%;
}

#header-branding {
  background-position: 15px 35px;
  height: 121px;
}

.sidebar-first #preview,
.sidebar-first #preview #img {
  width: 505px;
}