
body.maintenance-page {
  background-color: #fff;
	color: #505050;
}
.maintenance-page #page-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  width: 800px;
  border: 1px solid #ddd;
  margin-top: 40px;
}
.maintenance-page #page {
  background: transparent url(../images/gradient.png) repeat-x;
  padding: 20px 40px 40px;
}
.maintenance-page #main-wrapper {
  min-height: inherit;
}
.maintenance-page #header,
.maintenance-page #messages,
.maintenance-page #main {
  width: auto;
}
.maintenance-page #header div.section,
.maintenance-page #messages,
.maintenance-page #main {
  width: 700px;
}
.maintenance-page #main {
  margin: 0;
}
.maintenance-page #content .section {
  padding: 0 0 0 10px;
}
.maintenance-page #name-and-slogan {
  margin: 70px 0 50px 30px;
  font-size: 90%;
}
.maintenance-page #name-and-slogan,
.maintenance-page #name-and-slogan a {
  color: #8a8a8a;
}
.maintenance-page #name-and-slogan a:hover {
  background: none;
  color: #f16700;
}
.maintenance-page  h1#page-title {
  line-height: 1em;
  margin-top: 0;
}
.maintenance-page #messages {
  padding: 0;
  margin-top: 30px;
}
.maintenance-page #messages div.section {
  padding: 0;
}
