
/**
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

body, input, textarea, select {
  color: #000;
  background: none;
}

div#primary-menu, div#secondary-menu, div#header-top, div#sidebar-right, div#admin-toolbar {
  display: none;
}

body.sidebars, body.sideber-left, body.sidebar-right, body {
  width: 640px;
}

body.sidebars #content, body.sideber-left #content, body.sideber-right #content {
  margin: 0;
}
#wrapper  #header {
  height: 130px;
}
#content img {
  border: none;
}
