
/**
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

html, body {
 direction: rtl;
}

#wrapper {
	text-align: right;
}

/* header */
/* secondary-menu */
#secondary-menu li {
  float: left;
  padding: 0 10px 0 0;
}

/* primary-menu */
#primary-menu {
  float: right;
}

#primary-menu li {
  float: right;
}

#primary-menu li.first {
  padding-right: 0;
}

/* header-branding */
#header-branding {
  padding-right: 10px;
}

#header-branding a {
  float: right;
}

/* REGION top */
#top .block {
  float: right;
}

#top div.block-count-2 {
  background: transparent url(images/top-line.png) 0 rigth repeat-y;
}

#top div.block-count-3 {
  background: transparent url(images/top-line.png) 0 right repeat-y;
}

#top div.block-count-4 {
  background: transparent url(images/top-line.png) 0 rigth repeat-y;
}

#top .top-block-top {
  background: transparent url(images/top-line-top.png) top right no-repeat;
}

#top .top-block-bottom {
  background: transparent url(images/top-line-bottom.png) bottom right no-repeat;
  padding-right: 20px;
}

#top div.block:first-child .top-block-top,
#top div.block:first-child .top-block-bottom,
#top div.block:first-child {
  padding-right: 0;
}

/* main */
/* content */
.sidebar-right #content {
  background: transparent url(images/dotted-line.png) top left repeat-y;
  float: right;
  padding-left: 40px;
  padding-right: 0;
}

/* REGION sidebar-right */
.sidebar-right #sidebar-right {
  float: left;
  padding-right: 0;
}

/* Admin */
dl.admin-list dd {
  margin: 0 10px 10px 0;
}

/* Lists Content */
#content .content ul ul {
  margin: 0 20px 0 0;
}

#content .content ol {
  margin: 0 20px 20px 0;
}

#content .content ol li {
  padding: 2px 10px 2px 0;
}

#content .content dd {
  padding-right: 20px;
  padding-left: 0;
}

/* Lists Blocks */
.block ol li {
  padding: 2px 10px 2px 0;
}
.block dd {
  padding-right: 20px;
  padding-left: 0;
}

#footer .block dd {
  padding-right: 0;
}

/* Webform */
form#webform-components-form td:first-child {
  padding-left: 2em;
}

form#webform-components-form td:first-child a {
  padding-left: 0.5em;
}

.links li.last,
.terms li.last {
  padding-right: 0;
}